In [1]:
import pandas as pd
import numpy as np

## Import CSV

In [2]:
northamerica = pd.read_csv("../resources/og/US-and-Canada_aggregated_data_up_to-2025-10-11_0.csv")
northamerica.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,04/09/2022,North America,Bermuda,Devonshire,Protests,Peaceful protest,1,0,2369.0,Demonstrations,3888,32.3033,-64.7595
1,05/01/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896
2,06/26/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896
3,08/28/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,2,0,2852.0,Demonstrations,3891,32.2991,-64.7896
4,11/06/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896

In [3]:
# I create a new column with the year
northamerica["YEAR"] = northamerica["WEEK"].str.slice(6)
northamerica.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE,YEAR
0,04/09/2022,North America,Bermuda,Devonshire,Protests,Peaceful protest,1,0,2369.0,Demonstrations,3888,32.3033,-64.7595,2022
1,05/01/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896,2021
2,06/26/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896,2021
3,08/28/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,2,0,2852.0,Demonstrations,3891,32.2991,-64.7896,2021
4,11/06/2021,North America,Bermuda,Pembroke,Protests,Peaceful protest,1,0,2852.0,Demonstrations,3891,32.2991,-64.7896,2021

In [4]:
# I select only the protests
northamerica_cleaned = northamerica[northamerica["EVENT_TYPE"] == "Protests"]

In [6]:
# I group by the year and sum the number of events
northamerica_cleaned = northamerica_cleaned.drop(columns=["FATALITIES", "ID", "CENTROID_LATITUDE", "CENTROID_LONGITUDE"])
northamerica_cleaned = northamerica_cleaned.groupby("YEAR").sum("EVENTS")
northamerica_cleaned.head()

      EVENTS  POPULATION_EXPOSURE
YEAR
2019      24             138390.0
2020   21566           77285932.0
2021   14832           74954983.0
2022   14114           75525724.0
2023   13483           71776758.0

In [7]:
# Create the dataframe and save it as CSV
northamerica_cleaned.to_csv("../resources/plots/sectionthree/timeline_data.csv")