In [7]:
import pandas as pd
import numpy as np

### Define cleaning function

In [8]:
def cleaning(df):
    df["YEAR"] = df["WEEK"].str.slice(6)
    df_cleaned = df[df["EVENT_TYPE"] == "Protests"]
    df_cleaned = df_cleaned.drop(columns=["FATALITIES", "ID", "CENTROID_LATITUDE", "CENTROID_LONGITUDE"])
    df_cleaned = df_cleaned.groupby("YEAR").sum("EVENTS")
    return df_cleaned

In [9]:
africa_time = pd.read_csv("../resources/og/Africa_aggregated_data_up_to-2025-10-18.csv")
asiapacific_time = pd.read_csv("../resources/og/Asia-Pacific_aggregated_data_up_to-2025-10-11_0.csv")
europecentralasia_time = pd.read_csv("../resources/og/Europe-Central-Asia_aggregated_data_up_to-2025-10-11.csv")
latinamericacarribean_time = pd.read_csv("../resources/og/Latin-America-the-Caribbean_aggregated_data_up_to-2025-10-18.csv")
middleeast_time = pd.read_csv("../resources/og/Middle-East_aggregated_data_up_to-2025-10-18.csv")
uscanada_time = pd.read_csv("../resources/og/US-and-Canada_aggregated_data_up_to-2025-10-11_0.csv")

In [10]:
africa_time = cleaning(africa_time)
asiapacific_time = cleaning(asiapacific_time)
europecentralasia_time = cleaning(europecentralasia_time)
latinamericacarribean_time = cleaning(latinamericacarribean_time)
middleeast_time = cleaning(middleeast_time)
uscanada_time = cleaning(uscanada_time)

In [11]:
africa_time.head()

      EVENTS  POPULATION_EXPOSURE
YEAR
1997     244                  0.0
1998     249                  0.0
1999     217                  0.0
2000     248                  0.0
2001     231                  0.0

### Convert cleaned dataframes to CSV

In [12]:
africa_time.to_csv("../resources/plots/sectionthree/africa.csv")
asiapacific_time.to_csv("../resources/plots/sectionthree/asiapacific.csv")
europecentralasia_time.to_csv("../resources/plots/sectionthree/europecentralasia.csv")
latinamericacarribean_time.to_csv("../resources/plots/sectionthree/latinamericacarribean.csv")
middleeast_time.to_csv("../resources/plots/sectionthree/middleeast.csv")
uscanada_time.to_csv("../resources/plots/sectionthree/uscanada.csv")